.whatIsNPS{
    margin: 0px 180px 0px 30px;
    padding: 15px;
}
.mynpsMy{
    color: #520CB1;
}
.mynpsN{
    color: #D62B2B;
    text-transform: uppercase;
} 
.mynpsP{
    color: #FFB450;
    text-transform: uppercase;
} 
.mynpsS{
    color: #5CE533;
    text-transform: uppercase;
}