

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: acumin-pro,sans-serif;
    
}
:root{
    --backgroundColor: #520CB1;
    --mainColor: #520CB1;
    --mainColorLight: #6f1ae6;
    --secondaryColor: #595959;
    --textColor: #FFFFFF;
    --secondaryTextBackground: #FFB450;
    --secondaryTextColor: black;
}
ul>li{
    list-style: none;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    vertical-align: middle;
    align-content: center;
}

h2{
    text-align: center;
}