

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: acumin-pro,sans-serif;
    
}
:root{
    --backgroundColor: #520CB1;
    --mainColor: #520CB1;
    --mainColorLight: #6f1ae6;
    --secondaryColor: #595959;
    --textColor: #FFFFFF;
    --secondaryTextBackground: #FFB450;
    --secondaryTextColor: black;
}

