.myNPSsurvey{
    width: auto;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
            // specify the custom image
    background-image: url('../../../images/happyhands.png');
    align-items: top;
    justify-content: center;
    text-align: center;
}